$color: #fbf928;
$fontcolor: #3c3c3a;

//通用样式
html {
    height: 100%;
}

body {
    background: #fff;
    width: 100%;
    height: 100%;
    font-family: microsoft yahei;
    line-height: 1;
    color: $fontcolor;
}
a{
    text-decoration: none;
    color: $fontcolor
}
ul,li{
    list-style: none;
    margin:0;
    padding: 0;
}
// 登录页 login.html

.login-box {
    font-family: '黑体';
    /*padding: 0 40px;*/
    text-align: center;
    height: 100%;
    position: relative;
}

.login-box form {
    height: 100%;
}

.login-box .logo {
    position: absolute;
    top: 16%;
    width: 100%;
}

.login-box .logo img {
    width: 165px;
}

.login-box .input {
    width: 100%;
    position: absolute;
    top: 24%;
}

.login-box .input div {
    padding: 0 40px;
}

.login-box .input div input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1px solid #f1f1f1;
}

.login-box .input .mobile {
    position: relative;
}

.login-box .input .mobile input {
    // border: 1px solid #cacaca;
    border-radius: 4px;
    text-indent: 15px;
    font-size: 15px;
    color: #23232b;
}

.login-box .input .mobile a {
    position: absolute;
    right: 49px;
    top: 7.5px;
    color: #2f2f25;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 4px 9px;
    // border: 1px solid $color;
    border-radius: 5px;
    background-color: $color;
}

.login-box .input .code input {
    // border: 1px solid #cacaca;
    border-radius: 4px;
    text-indent: 15px;
    font-size: 15px;
    color: #23232b;
    margin-top: 5px;
}

.login-box .input .login input {
    color: $fontcolor;
    border: 1px solid $color;
    background: $color;
    margin-top: 20px;
    font-size: 17px;
    height: 45px;
    line-height: 45px;;
}
.login-box .tips{
  color: #fff;
  font-size: 15px;
  text-align: center;
  width: 139px;
  height: 43px;
  line-height: 43px;
  position: absolute;
  left:50%;
  top:50%;
  border-radius: 5px;
  background: rgba(0,0,0,0.8);
  transform: translateX(-50%) translateY(-50%);
}

// 我的收入 my-income.html

.my-income{
    height: 100%;
    background: #f0f0f0;
    .up{
        .top{
            background: $color;
            text-align: center;
            height: 172px;
            .num{
                font-size: 30px;
                font-weight: bold;
                color: $fontcolor;
                padding-top: 41px;
                span{
                    font-size: 15px;
                }
            }
            >span{
                font-size: 11px;
                margin-top: 14px;
                display: block;
            }
            .top-btn{
                display: flex;
                justify-content: space-around;
                a{
                    display: block;
                    width: 102px;
                    height: 25px;
                    text-align: center;
                    line-height: 25px;
                    border: 1px solid $fontcolor;
                    border-radius: 4px;
                    font-size: 13px;
                    margin-top: 35px;
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-around;
            background: #fff;
            height: 49px;

            span{
                display: block;
                text-align: center
            }
            span:first-child{
                margin-top: 9px;
                font-size: 11px;
            }
            span:nth-child(2){
                color: #ff3700;
                font-size: 17px;
                margin-top: 8px;
            }
        }
    }
    .middle{
        background: #fff;
        margin: 10px 0;
        li{
            padding: 0 15px;
            height: 49px;
            line-height: 49px;
            border-bottom: 1px solid #e6dfdf;
            display: flex;
            justify-content: space-between;
            span:first-child{
                color: #98918e;
                font-size: 15px;
            }
            span:last-child{
                font-size: 15px;
                font-weight: bold;
            }
        }
    }
    .btn{
        display: flex;
        justify-content: space-between;
        background: #fff;
        height: 84px;
        a{
            width: 50%;
            text-align: center;
            display: block;
            padding-top: 53px;
            font-size: 12px;
            color: #2f2723;
            
        }
         :first-child {
            background-image: url(../images/btn1.png);
            background-position: center 15px;
            background-repeat: no-repeat;
            background-size: 23px;

        }

         :last-child {
            background-image: url(../images/btn2.png);
            background-position: center 15px;
            background-repeat: no-repeat;
            background-size: 23px;
        }
    }
}

// 收入详情 income-detail.html

.income-detail{
    height: 100%;
    background: #f0f0f0;
    li{
        background: #fff;
        display: flex;
        justify-content: space-between;
        padding: 13px 12px;
        border-bottom: 1px solid #e7e2e2;
        span{
            display: block;
        }
        span:first-child{
            color: #2f2723;
            font-size: 15px;
        }
        span:last-child{
            font-size: 11px;
            color: #98918e;
            margin-top: 8px;
        }
        div:last-child{
            color: #2f2723;
            font-weight: bold;
            font-style: 15px;
        }
    }
    >div{
        text-align: center;
        margin-top: 19px;
        font-size: 12px;
        color: #98918e;
    }
}