body{
    overflow-x: hidden;
    line-height: 1;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    position: relative;
    
    .top{
        display: flex;
        justify-content: space-between;
        .logo{
            width: 127px;
            height: 50px;
            background: url(../images/logo2.png)center  no-repeat;
        }
        .nav{
            display: flex;
            justify-content: space-between;
            margin-right: 210px;
            li{
                width: 84px;
                text-align: center;
                line-height: 50px;
                font-size: 14px;
                font-family: microsoft yahei;
                a{
                    text-decoration: none;
                    color: #201f1a;
                }
            }
        }
    }
    img{
        width: 1920px;
        position: absolute;
        left:-360px;
    }
}
.content{
    height: 1400px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    .section{
        background: #f2f1ec;
        padding: 0 360px;
        width: 1200px;
        position: absolute;
        left:-360px;
        .catname{
            text-align: center;
            font-size: 30px;
            color: #201f1a;
            background: url(../images/through.png)center no-repeat;
            margin-top: 150px;
            margin-bottom: 100px;
        }
        ul{
            display: flex;
            justify-content: space-between;
           
        }
    }
    .f1{
        ul{
            height: 310px;
            padding: 0 29px;
        }
         li {
             width: 250px;
             height: 300px;
             background: #fff;
             border-radius: 10px;
             text-align: center;
             box-shadow: 0 0 10px 6px rgba(32, 31, 26, .1);
             .pic {
                 height: 180px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 background: url(../images/picbg.png)center no-repeat;
             }
             .title {
                 font-size: 20px;
                 color: #201f1a;
             }
             .desc {
                 font-size: 14px;
                 line-height: 18px;
                 text-align: left;
                 margin-top: 18px;
                 padding: 0 25px;
                 color: #81807a;
             }
         }
    }
    .f2{
        top:590px;
        ul{
            padding: 0 20px;
        }
        li{
            width: 366px;
            height: 443px;
            background: #fff;
            text-align: center;
            border-radius: 8px;
            position: relative;
            margin-bottom: 100px;
            overflow:hidden;
            box-shadow: 0 0 10px 6px rgba(32, 31, 26, .1);
            .title{
                font-size: 30px;
                color: #201f1a;
                margin-top: 37px;
            }
            .desc{
                margin-top: 31px;
                color: #201f1a;
                font-size: 20px;
            }
            .bottom{
                position: absolute;
                bottom: 0;
                width: 100%;
                background: #eac026;
                height: 8px;

            }
        }
    }
}
.footer{
    height: 353px;    
    width: 1200px;
    position: relative;
    margin:0 auto;
    color: #fff;
    .bg{
        padding: 0 360px;
        width: 1200px;
        margin-left: -360px;
        background: #1f1e1b;
    }
    .cont{
        display: flex;
        justify-content: space-between;
        .tel{
            padding-left: 70px;
            background: url(../images/tel.png)left center no-repeat;
            font-size: 44px;
            height: 52px;
            line-height: 52px;
            margin-left: 95px;
            margin-top: 133px;
        }
        ul{
            display: flex;
            justify-content: space-between;
            margin-top: 70px;
            margin-right: 100px;
            li{
                text-align: center;
                width: 151px;
                margin: 0 32px;
            }
            .title{
                font-size: 16px;
                margin-top: 20px;
                margin-bottom: 55px;
            }
        }
    }
    .copyright{
        text-align: center;
        padding-bottom: 30px;
        font-size: 12px;
    }
}